.service {
  padding-bottom: 200px;
  
  &__content {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 72px 96px;
  }

  &__description {
    padding-top: 24px;
    max-width: 445px;
  }
}

@media screen and (max-width: 992px) {
  .service__content {
    padding: 36px 48px;
  }
}

@media screen and (max-width: 768px) {
  .service__content {
    padding: 18px 24px;
    flex-direction: column;
    gap: 30px;
  }
}